<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
</head>
<body>
    <h1>Welcome to a very cool Chess game</h1> <br/>
        <span class="currentTurnText">Current Turn:</span> <span class="curTurnTeam">{{curTurn}}</span> <br/>
        <span class="selectedPieceText">Selected Piece: </span> <span class="selectedPiece">  {{selectedPiece}}</span>

    <div class="chessboard">
    <form action="#" method="post">
        {% for x in range(1, 9, 1) %}
                {% for y in range(1, 9, 1) %}
                    <input type="hidden" name="x" value="{{x}}"/>
                    <input type="hidden" name="y" value="{{y}}"/>
                    <input type="submit" class="{{board[x][y]['tile class']}}" name="selection" value="{{board[x][y]['piece']['label']}}"/>
                {% endfor %}
        {% endfor %}
        <input type="hidden" name="curTurn" value="{{curTurn}}"/>
    </form>
    </div>
</body>
</html>