<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chess_style.css')}}"/>
</head>
<body class="{{'body_'+curTurn}}">
    <h1>Welcome to a very cool Chess game</h1> <br/>
    <span class="currentTurnText">Current Turn:</span> <span class="curTurnTeam">{{curTurn}}</span><br/>
    <span class="selectedPiece">{{feedbackMessage}}</span>

    <div class="chessboard"> <form action="#" method="post">
        {% for x in range(0, 10, 1) %}
            {% for y in range(0, 10, 1) %}
                <input type="submit" class="{{board[x][y]['tile class']}}" name="{{board[x][y]['coord']}}"
                       value="{{board[x][y]['piece']['label']}}" style="{{board[x][y]['selected class']}}"/>
            {% endfor %}
        {% endfor %}
    </form> </div>

    <div class="promoting"> <form>
        <h1> Promoting </h1>
        {% if promoting %}
            <h3> Here </h3>
            {% for x in range(4) %}
                <input type="submit" class="{{promotingInfo[x].get('piece color')}}" name="{{promotingInfo[x].get('name')}}"
                       value="{{promotingInfo[x].get('label')}}">
            {% endfor %}
        {% endif %}
    </form> </div>

</body>
</html>